body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 20px;    
}

body h1 {
    color: blue;
}

.player, .enemy {
    margin: 10px auto;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 350px;
}
.player h2, .enemy h2{
    color:goldenrod;
}

.player p, .enemy p{
    color: green;
}


.actions button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    color: rgb(29, 67, 182);
    background-color: rgb(24, 6, 6);
}

/* .actions button :hover{ */
    color: #b5a0a0;
}

.actions button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.game-log {
    margin: 20px auto;
    padding: 15px;
    border: 1px solid #7966da;
    border-radius: 10px;
    width: 600px;
    height: 200px;
    overflow-y: auto;
}